body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.post-title {
    color: #0078d4;
    /* Color azul de Microsoft */
}

.site-header {
    border-bottom: 1px solid #e0e0e0;
}